<app-header></app-header>
<app-modal-promotions
  [showPromotion]="showPromotion"
  *ngIf="showPromotion"
  (closePromotion)="showPromotionModal($event)">
</app-modal-promotions>
<app-modal-menu [showMenu]="showMenu" *ngIf="showMenu" (closeMenu)="showMenuModal($event)"></app-modal-menu>
<main [style.display]="showMenu ? 'none' : 'flex' ">
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
  <app-card (showMenuModal)="showMenuModal($event)"></app-card>
</main>
<app-menu (showPromotionModal)="showPromotionModal($event)"></app-menu>
