<app-header></app-header>
<app-modal-promotions
  [showPromotion]="showPromotion"
  *ngIf="showPromotion"
  (closePromotion)="showPromotionModal($event)">
</app-modal-promotions>
<main>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</main>
<app-menu (showPromotionModal)="showPromotionModal($event)"></app-menu>
