<div>
  <app-nav-pages></app-nav-pages>
  <div class="container-forms">
    <form class="form-wrapper first" name="register" [@moveFormRegister]="activeForm">
      <h3>Registro</h3>
      <input class="input-register" type="text" placeholder="username">
      <input class="input-register" type="email" placeholder="Email">
      <div class="input-register-password">
        <input class="input-register" [type]="typeInput" placeholder="Contraseña">
        <i (click)="showPassword()" class='bx bx-show-alt'></i>
      </div>
      <input class="btn-login" type="submit" value="Registrarse"/>
      <span>¿Ya tienes una cuenta? <button class="btn" (click)="moveForm(1)">Ingresar</button></span>
    </form>
    <form class="form-wrapper" name="login" [@moveFormLogin]="activeForm">
      <h3>Ingresar</h3>
      <fieldset class="fieldset">
        <legend>Email</legend>
        <input type="email">
      </fieldset>
      <fieldset class="fieldset">
        <legend>Contraseña</legend>
        <input type="password">
      </fieldset>
      <input class="btn-login" type="submit" value="Entrar"/>
      <span>¿No tienes una cuenta? <button class="btn" (click)="moveForm(2)">Registro</button></span>
    </form>
  </div>
</div>

