<div class="container-credits">
  <img src="../../../assets/svg/colocho3.svg" alt="svg decorativo">
  <div class="container-credits_description">
    <h3>Descripción</h3>
    <p>
      Está página es un catálogo de los restaurantes, sodas y heladerías de <span>Sarchi</span>, tierra de la artesanía en el corazón de Costa Rica. Podrás enconcontrar una gran variedad de comidas así como información de cada local. Desde su ubicación, menú, contacto para llamar y ordenar hasta tu casa. También puedes registrarte como usuario para que des calificación a los lugares que visites o consideres oportuno calificar; sin embargo esto es opcional.
    </p>
    <p>
      Puedes buscar mediante categorías con el icono de <span>...</span>, también puedes buscar de manera random (aleatoria) con el icono de <span>...</span> y por último con el icono de <span>...</span> puedes acceder a las promociones que esten disponibles el día de hoy en particular de distintos lugares; así que buen provecho.
    </p>
  </div>
  <div>
    <h3>Creador</h3>
    <p>
      Está web fue creada por <a href="#">Vinicio Chavarría</a>, Desarrollador Web Full Stack. Si quieres algo similar a esto para ti o tú negocio o tienes una idea diferente en mente para un sitio web puedes contactarme y conversamos.
    </p>
    <ul>
      <li>Instagram</li>
      <li>LinKedin</li>
      <li>Correo electronico</li>
    </ul>
  </div>
  <div>
    <h3>Feedback</h3>
    <p>Si quieres dar tú opinión de la app o crees que le hace falta algo es aquí...</p>
    <form>
      <input type="email" name="email" placeholder="Escribe tú Email">
      <textarea name="text" placeholder="Escribe tú Feedback o idea..."></textarea>
    </form>
  </div>
</div>
